* {
  font-family: 'Roboto', sans-serif;
}

@mixin bp($bp, 
  $min-max: min-width) {
    $em: $bp/16;
    @media(#{$min-max}: #{$em}em) {
      @content;
  }
}

$bg: #333;
$bg-image: '../images/bg4.jpg';
$mainWhite: white;

body {
  // margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: $bg;
  color: $mainWhite;

  margin: 0;
  padding: 0;
}

a {
  color: $mainWhite;
  text-decoration: none;
}

.wrapper {
  box-shadow: 0 4px 16px 3px rgba(0,0,0,0.35);
  background: url($bg-image) rgba(0,0,0,0.35) no-repeat center;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  // margin-right: 20px;
  // margin-left: 20px;
  position: relative;
}

input {
  display: none;
}

.ham {
  margin: 30px;
  position: relative;
  border-bottom: 2px solid white;
  height: 21px;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  &::before,
  &::after {
    content: '';  
    background-color: $mainWhite;
    width: 35px;
    height: 3px;
    display: block;
    position: absolute;
    top: 0;
  }
  &::after {
    top: 10px;
  }
}

input:checked ~ label + .header {
  transform: translateX(0);
}

input:checked + .overlay {
  opacity: 1;
}

.overlay {
  width: 190px;
  background-color: rgba(0,0,0,0.84);
  height: 100%;
  position: absolute;
  right: 0;
  opacity: 0;
}

.header {
  position: fixed;
  top: 80px;
  right: 70px;
  transition: 200ms;
  transform: translateX(400px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.s,
.nav{
  list-style: none;
  margin: 0 10px 0 0;
  padding: 0;
  text-align: right;
}

.s{
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid white;
}

.search{
  background-color: white;
  padding: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 2;
}

.search>img{
  width: 24px;
  margin: 3px;
}

.s>li+li,
.nav>li+li{
  margin-top: 20px;
}

.s a,
.nav a{
  font-weight: 700;
  position: relative;
}

.nav a:hover::before,
.nav .active::before{
  content: '';
  position: absolute;
  width: 23px;
  height: 3px;
  left: -35px;
  top: 8px;
  background-color: white;
}

.logo {
  border: 3px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  padding: 9px;
  line-height: 1.8;
  font-size: 18px;
  font-weight: 900;
  margin-bottom: 20px;

  &:hover {
    background-color: white;
    color: $bg;
  }
}

.main {
  margin: 30px;
}

.intro {
  h1 {
    font-size: 32px;
  }

  p {
    line-height: 1.7;
  }
}

.status {
  margin-top: 50px;

  h5 {
    margin: 0;
    font-size: 20px;
  }
  p {
    margin: 8px;
  }
  div {
    +div {
      margin-top: 50px;
    }
  }
}

.rec {
  background-color: black;
  padding: 20px 30px;
  margin-top: 50px;
  max-width: 230px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;

  h6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 40px;
  }

  h5 {
    margin: 5px 0 0;
    font-size: 20px;
  }

  p {
    margin-top: 8px;
  }

  div+div {
    margin-top: 30px;
  }

  img {
    width: 100%;
    border-radius: 15px;
  }
}

.scroll-down {
  display: none;
}

@include bp(768) {
  .ham {
    display: none;
  }

  .header {
    position: static;
    transform: translate(0);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;

    .logo {
      margin-bottom: 0;
    }
  
    .nav {
      display: flex;
      margin-left: 20px;
      margin-right: auto;
    }
  
    .s {
      display: flex;
      margin-top: 0;
      padding-top: 0;
      align-items: center;
      border-top: 0;
    }
  
    .s>li+li,
    .nav>li+li {
      margin-top: 0;
      margin-left: 20px;
    }

    .nav a:hover::before,
    .nav .active::before {
      content: '';
      position: absolute;
      width: 23px;
      height: 3px;
      left: 11px;
      top: -12px;
      background-color: white;
    }
  }

  .overlay{
    display: none;
  }
  .intro{
    max-width: 310px;
    >h1{
      font-size: 52px;
    }
  }
  .rec{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@include bp(992) {
  .header {
    .nav {
      margin-left: 20px;
    }
  }

  .intro {
    margin-left: 68px;
    >h1 {
      font-size: 102px;
      line-height: 1;
      font-weight: 800;
      margin-bottom: 40px;
    }
  }

  .rec {
    padding: 30px;
    >div+div {
      margin-top: 10px;
    }
  }

  .status {
    margin-left: 68px;
    display: flex;
    >div+div {
      margin-left: 20px;
      margin-top: 0;
    }
  }

  .scroll-down {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 110px;
    left: -32px;
    display: block;

    >img {
      position: fixed;
      transform: rotate(90deg);
      bottom: 9px;
      left: -18px;
    }

    >p {
      position: relative;
      left: 40px;
    }
  }
}

@include bp(1200) {
  .header {
    margin-bottom: 150px;
    margin-left: 50px;
    margin-top: 40px;
    margin-right: 50px;

    .nav {
      margin-left: 70px;
      >li+li {
        margin-left: 40px;
      }
    }

    .s {
      >li+li {
        margin-left: 40px;
      }
    }
  }

  .intro {
    margin-left: 140px;
    position: relative;
    top: -70px;
    >h1 {
      margin-top: 0;
    }
  }

  .status {
    margin-left: 140px;
    >div+div {
      margin-left: 50px;
    }
    p {
      margin-left: 0;
    }
  }

  .rec {
    padding: 30px 70px;
    >div+div {
      margin-top: 30px;
    }
  }

  .scroll-down {
    bottom: 114px;
    left: -2px;
  }
}